<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="/home">Evoting System</a>
   
    <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
        </ul>
    </div>
  </nav>
  <div class="container">
  <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">CandidateName</th>
          <th scope="col">VIN</th>
          <th scope="col">Partyname</th>
          <th scope="col">City</th>
          <th scope="col">Approval</th>
          <th scope="col">Delete</th>
          <!-- <th scope="col">Tick</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <!-- <th scope="row">1</th> -->
          <td>{{candidate.name}}</td>
          <td>{{candidate.vin}}</td>
          <td>{{candidate.partyname}}</td>
          <td>{{candidate.city}}</td>
          <td><button class="btn btn-success" (click)="approveCandidate(candidate)">Approve</button></td>
          <td><button class="btn btn-danger" (click)="deleteCandidate(candidate)">Delete</button></td>
          <!-- <td *ngIf="expression">ok</td> -->
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-secondary" routerLink="/ecahomepage">Back</button>
    </div>
  </div>