<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="/home">Evoting System</a>
   
    <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/loginpage">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/selection" >Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
      <h1>Evoting Portal</h1>
      <p class="lead">The e-Voting platform aims to improve transparency and Corporate Governance standards and also helps in reducing the administrative cost associated with Postal Ballot while facilitating declaration of results immediately after the close of the voting. Additionally investors are also benefited where they can cast their votes on till last day from the comfort of their home / office, while eliminating the chances of their votes being declared invalid.</p>
      <a class="btn btn-lg btn-primary" href="https://www.evotingindia.com/" role="button">View Details of Evoting &raquo;</a>
    </div>
  </div>
