<div class="container">
    <div class="details">
        <h2>Hi {{name}}</h2>
    </div>
    <div class="block">
        <button class="btn btn-primary" routerLink="/candidatehomepage/updatedetails">Update Details</button>
        <button class="btn btn-secondary" (click)="viewCandidates()">View Candidates</button>
        <button class="btn btn-success">Q & A</button>
    </div>
    <div class="logout">
        <button class="btn btn-warning" (click)="logout()">logout</button>
    </div>
</div>
