<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="/home">Evoting System</a>
   
    <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/selection" >Signup</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <form class="m-2" #form="ngForm" (ngSubmit)="loginform(form)" style="width: 700px; margin-left: 200px !important; margin-top: 50px !important; box-shadow: 5px 10px 8px 10px #888888;padding: 50px !important;">
        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" [(ngModel)]="selectedLevel" name="userSelection" placeholder="select category">
                <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group" >
            <label for="vin">VIN:</label>
            <input type="number" class="form-control" id="vin" placeholder="Enter VIN" name="uservin" required #uservinn="ngModel" [(ngModel)]="uservin" >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="userpassword" required #userpasswordd="ngModel" [(ngModel)]= "userpassword">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" (click)="validateUser()">Login</button>
            <!-- <button class="btn btn-primary" (click)="pressme()">Signup</button> -->
            
        </div>
    </form>


    
    
</div>



<!-- <div class="card" *ngFor="let voter of voters">
    {{voter.vin}}
</div> -->