<div class="container">

    <form class="m-2" #form="ngForm" (ngSubmit)="loginform(form)">
        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" [(ngModel)]="selectedLevel" name="userSelection">
                <!-- <option value="1">Voter</option>
                <option value="2">Candidate</option>
                <option value="3">ECA</option>
                <option value="4">ESS</option> -->
                <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group" >
            <label for="vin">VIN:</label>
            <input type="number" class="form-control" id="vin" placeholder="Enter VIN" name="uservin" required #uservinn="ngModel" [(ngModel)]="uservin" >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="userpassword" required #userpasswordd="ngModel" [(ngModel)]= "userpassword">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" (click)="validateUser()">Login</button>
            
        </div>
    </form>
    <button class="btn btn-primary" (click)="pressme()">Signup</button>
</div>



<!-- <div class="card" *ngFor="let voter of voters">
    {{voter.vin}}
</div> -->